body {
  background-color: lightblue
}

h1 {
  color: yellow;
  font-size: 64px;
  font-family: Arial, Helvetica, Sans-serif;
}

.contact {
  background-color: green;
  padding-left: 20px;
  margin-left: 20px
}

.footer {
  background-color: white;
  color: gray;
  border: 2px solid black;
  padding-left: 200px;
}

.xp1 {
  border: 20px solid black;
}

div {
  border: 1px solid yellow
}

img {
  width: 50%;
}
